h1,h4
{
    text-align: center;
    color: hotpink;
}
body
{
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Home
{
    background-color: #94e647;
    width: 80vw;
    height: 80vh;
    margin-top: 75px;
    z-index: 2;
    position: relative;
    border-radius: 40px;
}
.Tittle
{
    width: 60vw;
}
.image
{
    align-items: center;
}